* {
    font-family: 'Normal', Helvetica, sans-serif;

    /* background-image: url(img/Background.png); */
    background-color: rgb(83, 5, 36);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 


    /* cursor: url('/img/mice/mouse_point.png'), auto;  */
}

a { text-decoration: none; color: aliceblue; transition: 0.4s;}
a:hover{ font-size: 35px ; color: rgb(215, 217, 255); transition: 0.9s; }

.masthead{
    display: flex;
    position: inherit;
    height: 200px;

    padding-left: 280px;
    padding-top: 100px;

    justify-content: left;
    flex-direction: row;
    align-items: flex-start;
}
.masthead-text{
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.masthead-text h1{ margin: 0; font-family: 'Times New Roman', Times, serif; color: aliceblue;}
.masthead-text h2{ margin: 0; margin-bottom: 100px; font-family: Georgia, 'Times New Roman', Times, serif; color: aliceblue}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 600px;
    margin: 0 auto;

   
}

.key-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    
    margin: 5vw auto;    
    padding: 10px; 
    padding-bottom: 100px;   
    gap: 100px;

    
}

.key-navigation section nav{

    display: flex;
    flex-direction: column;
    align-items: flex-start

}

.key-navigation section nav a { text-decoration: none; color: aliceblue; transition: 0.4s;}
.key-navigation section nav a:hover{ font-size: 28px ; color: rgb(215, 217, 255); transition: 0.9s; }

/* .arrow-key-navigation section nav a{

} */

.header-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-bottom: 5%;
    text-shadow: 0px 4px 18.6px rgba(13, 14, 37, 0.301);
}

.body-link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-bottom: 5%;
    text-shadow: 0px 2px 10px rgba(13, 14, 37, 0.431);

}

.resize-img{
    height: 20%;
}

footer {
    font-color: rgb(191, 191, 191);
}